@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300&family=Poppins:wght@500&family=Raleway&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300&family=Poppins:wght@500;700&family=Raleway&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


:root {
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);

    --red: hsl(0, 87%, 67%);

    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
}

* {
    margin: 0;
    padding: 0;
}



.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
}

.header {
    display: flex;
    padding: 4rem;
}

.logo {
    width: 60px;
    height: 20px;
    padding-top: 6px;
}

.header .attribute-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header .attribute-container .website-choices {
    padding-left: 20px;
}

.website-choices .link {
    padding-right: 15px;
    text-decoration: none;
    color: var(--gray);
    font-weight: bold;
    font-size: 14px;
}

.link:hover {
    color: black;
}

.attribute-container .login-options .login {
    padding-right: 20px;
    text-decoration: none;
    color: var(--gray);
    font-weight: bold;
    font-size: 14px;
}

.btn {
    background: var(--cyan);
    border-radius: 15px;
    border: none;
    color: white;
}

.btn:hover {
    background: var(--gray);
}

.hidden {
    display: none;
}

#sign-up-btn {
    width: 80px;
    height: 30px;
}

.front-page {
    padding: 0px 4rem;  
}

.card {
    display: flex;
    justify-content: space-between;
}


.front-page h1 {
    padding: 20px 0px;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    line-height: 55px;
}

.description {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: var(--gray);
    width: 80%;
}

.image-container img {
    width: 400px;
    margin-right: -120px
}

#get-started-btn {
    margin-top: 20px;
    width: 110px;
    height: 30px;
}

.search-bar-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark-violet);
    background-image: url('./images/bg-shorten-desktop.svg');
    background-position-x: -200px;
    background-position-y: -15px;
    height: 100px;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

.search-bar-card {
    width: 90%;
}

.search-bar-card input {
    width: 80%;
    height: 40px;
    border-radius: 5px;
}

.search-bar-card input[type='text'] {
    padding-left: 10px;
}


.search-bar-card button {
    width: 15%;
    height: 40px;
    border-radius: 5px;
}

.email-input {
    display: none;
    position: relative;
    left: 40px;
    top: 5px;
    font-size: 12px;
    width: 100%;
    height: 0px;
    color: red;
}

.user-link-card {
    display: flex;
    justify-content: space-between;
    background: white;
    height: 50px;
    margin-bottom: 10px;
}

.link-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.link-container a {
    text-decoration: none;
    color: var(--cyan);
}

.user-link-card .btn {
    width: 75px;
    height: 30px;
    border-radius: 5px;
    margin: 10px 10px 0px 0px;
}

.sections-page {
    height: auto;
    display: flex;
    flex-direction: column;
    background: hsla(0, 0%, 75%, 20%);
    margin-top: -50px;
    padding: 4rem;
}



.sections-page .sections-page-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.sections-page-intro h3 {
    font-weight: 700;
    font-size: 20px;
}

#statistics-description {
    font-size: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 40%;
}

.statistics-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 1rem;

    margin-top: 50px;
    font-size: 12px;
}

.statistics-container::before {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 5px; /* or whatever thickness you want for your line */
    background: var(--grayish-violet); /* or whatever color you want for your line */
    z-index: -1; /* places the line behind the boxes */
  }


#stats-card {
    width: 250px;
    height: 200px;
    border-radius: 3px;
    background: white;
}

.stats-image {
    position: relative;
    top: -25px;
    right: -20px;
    width: 50px;
    height: 50px;
    border-radius: 50%; /* makes the div circular */
    background-color: var(--dark-violet); /* sets the background color to blue */
    display: flex; /* centers the image horizontally and vertically */
    justify-content: center; /* centers the image horizontally */
    align-items: center; /* centers the image vertically */
    overflow: hidden; /* ensures the image does not spill out of the circular div */
  }
  
#stats-image {
    max-width: 50%; /* adjust this value as needed */
    max-height: 50%; /* adjust this value as needed */
}


.detailed-records-container {
    margin-top: 50px;
}

.fully-customizable-container {
    margin-top: 100px;
}

.stats-text-container {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.stats-text-container .description {
    font-size: 10px;
}


.boost-section {
    width: 100%;
    height: 200px;
    background: var(--dark-violet);
    background-image: url('./images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.boost-section .text-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container h2 {
    font-size: 25px;
    color: white;
    font-family: 'Poppins', sans-serif;
}


.footer-section {
    background: var(--very-dark-violet);
    height: 200px;
}

.foot-text-information {
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

.additional-information {
    width: 300px;
    font-size: 12px;
    display: flex;
    gap: 5rem;
}

.social-medias-container {
    padding-right: 100px;
    display: flex;
    width: 20px;
    height: 20px;
    gap: 20px;
}

.additional-information h4 {
    color: white;
    line-height: 40px;
}

.additional-information p {
    line-height: 20px;
    color: var(--gray);
    font-size: 10px;
}

